<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monitoring Containerized URL Shortener</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #e9f0fa;
      font-family: Arial, sans-serif;
    }
    .card {
      max-width: 500px;
      margin: 80px auto;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    .btn-primary {
      background-color: #3366cc;
      border: none;
    }
    .btn-primary:hover {
      background-color: #2851a3;
    }
    .qr {
      width: 180px;
      height: 180px;
    }
  </style>
</head>
<body>

<div class="card p-4 text-center">
  <h3 class="mb-3 text-primary">Monitoring Containerized URL Shortener</h3>

  <form method="POST">
    <input type="url" name="url" class="form-control mb-3" placeholder="Enter your long URL here" required>
    <button class="btn btn-primary w-100" type="submit">Shorten URL</button>
  </form>

  {% if short_url %}
  <hr>
  <h5 class="text-success">Your Short URL:</h5>
  <div class="input-group mb-3">
    <input id="shortUrl" type="text" class="form-control" value="{{ short_url }}" readonly>
    <button id="copyBtn" class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()">Copy</button>
  </div>

  <h6 class="text-center">QR Code:</h6>
  <div class="d-flex justify-content-center">
   <img class="qr mb-3" src="data:image/png;base64,{{ qr_data }}" alt="QR Code">
   </div>
  <div class="text-center">
   <a href="data:image/png;base64,{{ qr_data }}" download="qr_code.png" class="btn btn-success btn-sm">Download QR</a>
  </div>

  {% endif %}
</div>

<script>
function copyToClipboard() {
  const input = document.getElementById("shortUrl");
  const button = document.getElementById("copyBtn");
  input.select();
  input.setSelectionRange(0, 99999);
  navigator.clipboard.writeText(input.value);

  button.textContent = "Copied!";
  button.classList.remove("btn-outline-secondary");
  button.classList.add("btn-success");

  setTimeout(() => {
    button.textContent = "Copy";
    button.classList.remove("btn-success");
    button.classList.add("btn-outline-secondary");
  }, 1000);
}
</script>


</body>
</html>
